parameters:
    level: 9

    treatPhpDocTypesAsCertain: false

    paths:
        - bin/
        - config/
        - public/
        - src/

    ignoreErrors:
        -
            message: '#^Undefined variable: \$this$#'
            paths:
                - tests/*

    reportUnmatchedIgnoredErrors: false
